html {
  scroll-behavior: smooth;
}

@media (width < 48rem) {
  .active-link {
    color: white;
    background-color: #1d4ed8;
  }

  .active-link:hover{
    color: white;
    background-color: gray;
  }
}
@media (width >= 48rem) {
  .active-link {
    color: #1d4ed8 !important; 
  }
}